<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255773976678-406mqc95usgg4ts5tvnp9iep0lnqoppa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255773976678-406mqc95usgg4ts5tvnp9iep0lnqoppa</string>
	<key>API_KEY</key>
	<string>AIzaSyBc2nncMphCTkPRNbcYyrYLr8OaJm-LR38</string>
	<key>GCM_SENDER_ID</key>
	<string>255773976678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoapp</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-app-115ef</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-app-115ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255773976678:ios:231bc34fdce053d23525a7</string>
</dict>
</plist>